ENVIRONMENT=localhost # production | development | localhost

HTTPS_PORT=7443

POSTGRES_NAME=db
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_HOST=db
POSTGRES_PORT=5430

GOOGLE_OAUTH_CLIENT_ID=GetItHere:https://console.cloud.google.com/
GOOGLE_OAUTH_CLIENT_SECRET=GetItHere:https://console.cloud.google.com/

JWT_SECRET=ReplaceThis!!!
JWT_EXPIRATION_HOURS=24